*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Arial";
}
.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000%;
    margin: auto;
    overflow: hidden;
}
.Titulo{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
/* HEADER */

header{
    width: 100%;
    height: 600%;
    background: #000000;  
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(0, 0%, 26%, 0.603), hsla(0, 0%, 0%, 0.61)), url(../IMAGENES/Imagen.jpg);  
     /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(0, 0%, 26%, 0.603), hsla(0, 0%, 0%, 0.61)), url(../IMAGENES/Imagen.jpg); 
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}
nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}



header.textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.textos-header h1{
    color: white;
    font-size: 50px;
}

.textos-header h2{
    color: white;
    font-size: 30px;
    font-weight: 300;
}

/*galeria*/

.Nuestros-Productos{
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.galeria-produc{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-produc{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    height: 200px;
    position: relative;
    cursor: pointer;
    box-shadow:  0 0 6px 0 rgba(0, 0, 0, .5);

}
.imagen-produc > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    transform: scale(0);
    background: hsla(0, 0%, 26%, 0.603);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}
.imagen-produc:hover .hover-galeria{
    transform: scale(1);
}

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 200px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo a{
    color: #fff;
    border-bottom: 3px solid #000000;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-decoration: none;
}